/* General */

body{
    font-family: "Jersey 10", sans-serif;
    background-color: #382117;
    color: white;
}

/* Index.html */

#myCanvas {
    font-family: "Jersey 10", sans-serif;
    display: block;
    margin:  auto;
    margin-top: 25px;
    border: 10px solid black;
}

.banner {
    color: white;
    font-size: 200px;
    margin: 300px auto;
    margin-bottom: 0px;
    display: flex;
    justify-content: center;
    align-items: center;

    width: 800px;
    height: 140px;
    background: #103D10;
    clip-path: polygon(
        8px 0, calc(100% - 8px) 0,
        calc(100% - 8px) 8px, 100% 8px,
        100% calc(100% - 8px), calc(100% - 8px) calc(100% - 8px),
        calc(100% - 8px) 100%, 8px 100%,
        8px calc(100% - 8px), 0 calc(100% - 8px),
        0 8px, 8px 8px
    );
}

#play_btn {
    height: 90px;
    font-family: "Jersey 10", sans-serif;
    color: #103D10;
    font-size: 80px;
    margin: 50px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

#btn {
    font-family: "Jersey 10", sans-serif;
    color: #103D10;
    font-size: 50px;
    margin: 20px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: transparent;
    cursor: pointer;
    text-decoration: none;

    width: 300px;
    height: 80px;
    background: white;
    clip-path: polygon(
        8px 0, calc(100% - 8px) 0,
        calc(100% - 8px) 8px, 100% 8px,
        100% calc(100% - 8px), calc(100% - 8px) calc(100% - 8px),
        calc(100% - 8px) 100%, 8px 100%,
        8px calc(100% - 8px), 0 calc(100% - 8px),
        0 8px, 8px 8px
    );
}

#greetings{
    position: absolute;
    left: 30%;
}

#instructions {
    padding: 20px;
    color: white;
    position: absolute;
    top: 8%;
    left: 30%;
    text-align: center;

    width: 800px;
    background: #382117;
    clip-path: polygon(
        15px 0, calc(100% - 15px) 0,
        calc(100% - 15px) 15px, 100% 15px,
        100% calc(100% - 15px), calc(100% - 15px) calc(100% - 15px),
        calc(100% - 15px) 100%, 15px 100%,
        15px calc(100% - 15px), 0 calc(100% - 15px),
        0 15px, 15px 15px
    );
}

#instructions img{
    width: 80px;
}

#instructions h1{
    font-size: 100px;
    margin: 0;
}

/* GreenPlay.html */

#gameover {
    display: none;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #382117;
    padding: 40px 80px;
    text-align: center;
    clip-path: polygon(
        8px 0, calc(100% - 8px) 0,
        calc(100% - 8px) 8px, 100% 8px,
        100% calc(100% - 8px), calc(100% - 8px) calc(100% - 8px),
        calc(100% - 8px) 100%, 8px 100%,
        8px calc(100% - 8px), 0 calc(100% - 8px),
        0 8px, 8px 8px
    );
}
#gameover h1 {
    font-size: 64px;
    color: red;
    margin: 0 0 10px 0;
}
#gameover .stats {
    font-size: 32px;
    color: white;
    line-height: 1.6;
    text-align: left;
}
#gameover .stats div {
    margin: 10px 0;
}

canvas {
    border: 10px solid black;
    background-color: #d1f0c0;
    display: block;
    margin: 25px auto;
    image-rendering: pixelated;
}

button{
    font-family: "Jersey 10", sans-serif;
    font-size: 42px;
    background-color: white;
    text-decoration: none;
    color: darkgreen;
    border: 8px solid darkgreen;
    cursor: pointer;
    margin-top: 40px;
    background: white;
    clip-path: polygon(
        8px 0, calc(100% - 8px) 0,
        calc(100% - 8px) 8px, 100% 8px,
        100% calc(100% - 8px), calc(100% - 8px) calc(100% - 8px),
        calc(100% - 8px) 100%, 8px 100%,
        8px calc(100% - 8px), 0 calc(100% - 8px),
        0 8px, 8px 8px
    );
}

/* Info.html */

#information {
    text-align: center;
    margin: 150px;
}

#information h1 {
    font-size: 100px;
}

#information h2 {
    font-size: 80px;
}

#information h3 {
    font-size: 50px;
}

#information p, ul {
    font-size: 30px;
}